<html>
	<body>
		<head>
        	{% if title %}
        		<title>{{ title }} - Dot</title>
        	{% else %}
        		<title>Welcome to Dot</title>
        	{% endif %}
    </head>
    <body>
        <div>
            Dot:
            	<a href="{% url 'index' %}">Home</a>
            {% if request.user.is_anonymous %}
            	<a href="{% url 'login' %}">Login</a>
            {% else %}
            	<a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        <hr>
	    {% if messages %}
		<ul>
			{% for message in messages %}
    				<li>{{ message }}</li>
    			{% endfor %}
		</ul>
		{% endif %}

		{% block app %}{% endblock %}
	</body>
</html>
